#mobileMenuToggle{color:#fff !important;}

#mobileMenuToggle{background-color:#ae0707 !important;}

footer .contact-area a{color:#FFFFFF !important;}

footer ul.menu li a:hover{color:#FFFFFF !important;}

footer ul.menu li a{color:#FFFFFF !important;}

footer strong.title{color:#fff !important;}

footer{background-color:#7b1212 !important;}

div.sidebar{background-color:#7b1212 !important;}

header nav.navbar ul li a:hover{color:#ae0707 !important;}

header nav.navbar ul li a{color:#000 !important;}

header .top-area .contact-area div a:hover{color:#000 !important;}

header .top-area .contact-area div a{color:#fff !important;}

header .top-area{background-color:#ae0707 !important;}

header{background-color:#FFFFFF !important;}

.site{background-color:#FFFFFF !important;}

body{background-color:#FFFFFF !important;}

div.news a.news-btn:hover span{color:#ae0707 !important;}

div.news a.news-btn span{color:#FFFFFF !important;}

div.news a.news-btn{border-color:#ae0707 !important;}

div.news a.news-btn{background-color:#ae0707 !important;}

div.news div.text-area p{color:#000 !important;}

div.news div.text-area h4{color:#000 !important;}

div.news{background-color:#FFFFFF !important;}

div.news div.title{color:#ae0707 !important;}

div.why a.text-area-btn:hover span{color:#ae0707 !important;}

div.why a.text-area-btn span{color:#FFFFFF !important;}

div.why a.text-area-btn{color:#ae0707 !important;}

div.why a.text-area-btn{background-color:#ae0707 !important;}

div.why p{color:#000 !important;}

div.why div.title{color:#ae0707 !important;}

div.why{background-color:#FFFFFF !important;}

div.products a.box-btn:hover span{color:#ae0707 !important;}

div.products a.box-btn{color:#fff !important;}

div.products a.box-btn{border-color:#ae0707 !important;}

div.products a.box-btn{background-color:#ae0707 !important;}

div.products{background-color:#FFFFFF !important;}

.products .box .text-area p{color:#FFFFFF !important;}

div.products div.box div.text-area h2{color:#000 !important;}

div.products div.title{color:#ae0707 !important;}

a.welcome-btn:hover span{color:#ae0707 !important;}

a.welcome-btn{color:#FFFFFF !important;}

a.welcome-btn{border-color:#ae0707 !important;}

a.welcome-btn{background-color:#ae0707 !important;}

.welcome p{color:#000 !important;}

.welcome div.title{color:#ae0707 !important;}

.welcome{background-color:#FFFFFF !important;}